@import "tailwindcss";

:root {
  --background: rgb(255, 241, 231);
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
}

.b{
  @apply border border-blue-600
}


@layer Navbar {
  #nav-icon3 {
    @apply w-[45px] h-[45px] border border-orange-500 mx-auto  relative transition-all duration-500 ease-in-out cursor-pointer rounded;
    background: rgba(255, 237, 213, 0.85); /* light warm orange tint */
    backdrop-filter: blur(6px);
  }

  #nav-icon3 span {
    @apply absolute h-[3.5px] w-[23px] border border-orange-500 rounded opacity-100 left-[10px] top-[13px] rotate-0 transition-all duration-150 ease-in-out;
    background-color: #fb923c;   
  }

  #nav-icon3 span:nth-child(1) {
    top: 12px;
  }

  #nav-icon3 span:nth-child(2),
  #nav-icon3 span:nth-child(3) {
    top: 20px;
  }

  #nav-icon3 span:nth-child(4) {
    top: 28px;
  }

  #nav-icon3.open span:nth-child(1) {
    top: 20px;
    width: 0%;
    left: 50%;
  }

  #nav-icon3.open span:nth-child(2) {
    transform: rotate(45deg);
  }

  #nav-icon3.open span:nth-child(3) {
    transform: rotate(-45deg);
  }

  #nav-icon3.open span:nth-child(4) {
    top: 20px;
    width: 0%;
    left: 50%;
  }

  .nav-btn {
    @apply w-8 h-8 flex items-center justify-center rounded cursor-pointer transition-all duration-200 ease-in-out;
  }

  .nav-menu-text {
    @apply text-sm flex items-center text-center align-text-bottom font-light py-1 px-4 rounded-lg tracking-widest transition ease-in-out delay-0 duration-300;
  }

  .blurred-bg {
    background: rgba(255, 237, 213, 0.8); 
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
  }
}

